.btnSubmit{
    background-color: maroon;
    border : none;
    padding : 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.weatherContainer{
    position : relative;

    text-align: center;
   

 


}

.cityname{
    font-family: 'Abel';
    padding : 10px;
}

.forms{

    height: 200px;
    width: 200px;
    display: inline-block;
    
}

